body {
  background-image: url("geometry");
  background-repeat: repeat;
}

span.sign, span.icon {
  padding: 0px;
}

span.icon {
  background-image: url("AwesomoIcon");
  background-size: 3rem;
  width: 3rem;
  background-repeat: no-repeat;
  margin-top: 0.50rem;
  margin-left: 1rem;
  float: left;
  filter:invert(100%);
}

div.logo {
  background-image: url("AwesomoLogoDarkGrey");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; 
  height: 15em;
  margin-top: 1.5rem;
  opacity: 0.8;
}

.card {
  transition: all 0.5s ease-out;
  background-color: white;
  box-shadow: 0 1px 3px rgba(black, 0.2);
  border-radius: 1rem;
}

.card:hover {
  border-color: #6c757d;
}

.card.highlight {
  border: 1px solid #f4d522;
}

p.error {
  margin-bottom: 0px;
  color: #eac520;
}

p.noerror {
  margin-bottom: 0px;
  visibility: hidden;
}

a {
  text-decoration: none !important;
}

h5 {
  /* color: #4a5663; */
  color: #6c757d;
  transition: all 0.75s ease-out;
}

h5:hover {
  color: #343a40;
}

.hex {
  color: #6c757d;
  transition: all 0.75s ease-out;
}

.hex:hover {
  color: #343a40;
}

.text-light {
  color: #f4d522 !important;
}

.form-control.underline {
  /* border-bottom-color: #ced4da; */
  border-bottom-color: white;
  border-top-color: white;
  border-left-color: white;
  border-right-color: white;
}

/* .btn.btn-outline-dark.noborder {
  border-bottom-color: white;
  border-top-color: white;
  border-left-color: white;
  border-right-color: white;
} */

.NavBar {
/*   display: flex;
  justify-content: flex-end; */
  padding-bottom: 0.16rem;
  padding-right: 1rem;
  font-family: 'Share Tech Mono', monospace;
}

.bg-dark {
  opacity: 0.8;
} 

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #f2e29d !important;
}

.btn.btn-block {
/*   border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem; */
  border-top-color: #ced4da;
  border-bottom-color: white;
  border-left-color: white;
  border-right-color: white;
  font-family: 'Share Tech Mono', monospace;
}

.btn.btn-outline-dark, .btn.btn-block, .btn.btn-dark {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.delete {
  align-items: flex-end;
}

.search, .signIn {
  box-shadow: 0 1px 3px rgba(black, 0.2);
  font-family: 'Share Tech Mono', monospace;
}

.btn.search, .btn.signIn {
    font-weight: bold;
}

input#query.form-control.underline.mt-4.search {
  height: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 1.5rem
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
}

.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.list.items {
	flex: 1 0 25%;
  box-sizing: border-box;
}

.card.items {
  margin-right: auto;
}
