body, html {
  height: 100%;
  margin: 0;
}

.header {
  background-image: url("jake-weirick-581398-unsplash");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.85;
  height: 50%;
}
